// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.cg {
    &__section {
        padding: 50px 0;
        
        @media(max-width: 768px) {
            padding: 20px 0;
        }
        
        &.__home {
            padding-top: 5px;
        }

        &-content {
            font-size: 1rem;
            line-height: 2rem;
            padding: 20px;
            @media(max-width: 768px) {
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }

        &-title {
            font-size: 2.6rem;
            line-height: 3rem;
            font-weight: 800;
            font-family: $text-header-stack;
            text-transform: uppercase;
            margin: 0 0 25px;
            letter-spacing: -1px;

            &.__align {
                border-left: 10px dotted var(--primary);
                padding-left: 20px;
            }

            small {
                font-weight: normal;
                font-size: 1rem;
                line-height: 3rem;
            }
        }


        @media(max-width: 767px) {
            &-content {
                padding: 10px;
            }

            &-title {
                font-size: 2rem;
                line-height: 2.5rem;
                margin: 0 0 15px;
    
                &.__align {
                    padding-left: 10px;
                }
    
                small {
                    font-size: .8rem;
                    line-height: 2rem;
                }
            }
        }


        &-tp {
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            background-image: url('/img/bg/global-alt-black.jpg');
        }

        &-tg {
            padding-bottom: 50px;
        }
    }
}
